# Lanza GraphLab Create

Siempre comenzamos con la importación de GraphLab Create

In [3]:
import graphlab

# Cargar un conjunto de datos de una tabla

In [4]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file C:\Users\brjap\Documents\bitbucket\m12_introML_\people-example.csv

Parsing completed. Parsed 7 lines in 0.04774 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\brjap\Documents\bitbucket\m12_introML_\people-example.csv

Parsing completed. Parsed 7 lines in 0.042854 secs.

# Uso básico de SFrame

In [5]:
sf # Visualizamos las primeras líneas de la tabla

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf.tail()  # Visualizamos las últimas líneas de la tabla

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [7]:
# .show() visualiza cualquier estructura de datos en GraphLab Create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:55963/index.html
Opening Canvas in default web browser.

In [8]:
# Si prefieres la visualización en el mismo cuaderno
# en lugar de que se lance en una ventana nueva, añade esta línea:
graphlab.canvas.set_target('ipynb')

In [9]:
sf['age'].show # Visualizamos la columna de la edad

<bound method SArray.show of dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]>

# Inspeccionando las columnas del set de datos

In [10]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [11]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

 ### Operaciones simples con las columnas

In [12]:
sf['age'].mean()

23.142857142857146

In [13]:
sf['age'].max()

25L

# Creando nuevas columnas en nuestro SFrame

In [14]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

### Nombre completo = nombre + apellido

In [15]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [16]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [17]:
# Operaciones con columnas

In [18]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]

Usa el método '.apply' para realizar una transformación avanzada de los datos¶

In [19]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [20]:
sf['Country'].show()

### Definimos la función de transformación

In [21]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [22]:
transform_country('Brazil')

'Brazil'

In [23]:
transform_country('Brasil')

'Brasil'

In [24]:
transform_country('USA')

'United States'

In [25]:
### Aplicamos la transformación al set de datos

In [26]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [27]:
### Para que la transformación sea permanente tenemos que asignarla a su columna:

In [28]:
sf['Country'] = sf['Country'].apply(transform_country)

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]