In [0]:
!pip install turicreate

# Lanza GraphLab Create

Siempre comenzamos con la importación de GraphLab Create

In [0]:
import turicreate as graphlab

# Cargar un conjunto de datos de una tabla

In [13]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /content/people-example.csv

------------------------------------------------------

Parsing completed. Parsed 7 lines in 0.038899 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /content/people-example.csv

Parsing completed. Parsed 7 lines in 0.015043 secs.

# Uso básico de SFrame

In [14]:
sf # Visualizamos las primeras líneas de la tabla

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [15]:
sf.tail()  # Visualizamos las últimas líneas de la tabla

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [16]:
sf['age'].show # Visualizamos la columna de la edad

<bound method SArray.show of dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]>

# Inspeccionando las columnas del set de datos

In [17]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [18]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

### Operaciones simples con las columnas

In [19]:
sf['age'].mean()

23.14285714285714

In [20]:
sf['age'].max()

25

# Creando nuevas columnas en nuestro SFrame

In [21]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

### Nombre completo = nombre + apellido

In [0]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [23]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

# Operaciones con columnas

In [24]:
sf['age'] * (sf['age']-10)

dtype: int
Rows: 7
[336, 299, 264, 299, 299, 264, 375]

# Usa el método '.apply' para realizar una transformación avanzada de los datos

In [25]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [26]:
sf['Country'].show()

Materializing SArray

### Definimos la función de transformación

In [0]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

Sólo funcionará con 'USA':

In [28]:
transform_country('Brasil')
# transform_country('USA')

'Brasil'

### Aplicamos la transformación al set de datos

In [29]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

### Para que la transformación sea permanente tenemos que asignarla a su columna:

In [0]:
sf['Country'] = sf['Country'].apply(transform_country)

In [31]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]