# Fire up graphlab create

In [1]:
import graphlab

#Load some house sales data

Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

In [6]:
sales = graphlab.SFrame('home_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to bernardo.ronquillo@gmail.com and will expire on May 11, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\brjap\AppData\Local\Temp\graphlab_server_1539809296.log.0

In [7]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Exploring the data for housing sales

The house price is correlated with the number of square feet of living space.

In [8]:
graphlab.canvas.set_target('ipynb')
sales.show(view="Bar Chart", x="zipcode", y="price")

# 1. Houses set that have the zip code with the largest average price

In [9]:
sales_zip = sales[sales['zipcode']=='98039']

In [38]:
sales_zip = sales_zip.sort('price', ascending=False)

In [43]:
sales_zip[['zipcode', 'price']].print_rows(num_rows=10)

+---------+---------+
| zipcode |  price  |
+---------+---------+
|  98039  | 6885000 |
|  98039  | 5570000 |
|  98039  | 4000000 |
|  98039  | 3710000 |
|  98039  | 3640900 |
|  98039  | 3635000 |
|  98039  | 3418800 |
|  98039  | 2950000 |
|  98039  | 2900000 |
|  98039  | 2750000 |
+---------+---------+
[50 rows x 2 columns]

**Average price of this set of houses:**

In [16]:
print sales_zip['price'].mean()

2160606.6

In [11]:
sales_zip.show(view="Scatter Plot", x="sqft_living", y="price")

# 2. Filtering data

https://github.com/turi-code/how-to/blob/master/select_subset_rows.py

In [50]:
sales24 = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] < 4000)]

In [51]:
sales24 = sales24.sort('sqft_living', ascending=False)

In [52]:
sales24[['sqft_living', 'price']].head()

Columns:
	sqft_living	int
	price	int

Rows: 10

Data:
+-------------+---------+
| sqft_living |  price  |
+-------------+---------+
|     3990    |  570000 |
|     3990    |  668000 |
|     3990    |  650000 |
|     3990    | 1500000 |
|     3990    |  740000 |
|     3990    |  866000 |
|     3990    | 2720000 |
|     3990    |  825000 |
|     3990    |  609000 |
|     3990    | 1068000 |
+-------------+---------+
[10 rows x 2 columns]

In [53]:
sales24[['sqft_living', 'price']].tail()

Columns:
	sqft_living	int
	price	int

Rows: 10

Data:
+-------------+--------+
| sqft_living | price  |
+-------------+--------+
|     2010    | 429950 |
|     2010    | 875000 |
|     2010    | 324900 |
|     2010    | 427500 |
|     2010    | 550000 |
|     2009    | 303210 |
|     2009    | 279000 |
|     2008    | 460000 |
|     2007    | 305950 |
|     2005    | 491000 |
+-------------+--------+
[10 rows x 2 columns]

**Fraction of the all houses have ‘sqft_living’ in this range:**

In [58]:
sales24.num_rows()/float(sales.num_rows())

0.4215518437977143

## 3. Create a multiple features regression model of sqft_living to price

Split data into training and testing.  
We use seed=0 so that everyone running this notebook gets the same results.  In practice, you may set a random seed (or let GraphLab Create pick a random seed for you).

In [63]:
train_data,test_data = sales.random_split(.8,seed=0)

### Build the regression model using only sqft_living as a feature

In [69]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [70]:
sqft_my = graphlab.linear_regression.create(train_data, target='price', features= my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.033910     | 3763208.270524     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [71]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [72]:
sqft_advanced = graphlab.linear_regression.create(train_data, target='price', features= advanced_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.027926     | 3469012.450663     | 154580.940735 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

#### RMS error in test set of model with 6 features:

In [74]:
print sqft_my.evaluate(test_data)

{'max_error': 3486584.509381928, 'rmse': 179542.43331269105}

#### RMS error in test set of model with 17 features:

In [75]:
print sqft_advanced.evaluate(test_data)

{'max_error': 3556849.413848093, 'rmse': 156831.11680191013}